#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
VERSION ?= $(shell echo '$(DEBVERS)' | sed -e 's/^[[:digit:]]*://' -e 's/[-].*//')

export DEB_BUILD_OPTIONS=nocheck
export BARIS_DATA="$(pwd)/data"

%:
	dh $@ --parallel

get-orig-source:
	bash ./debian/get-tarball.sh $(VERSION)
